<div class="row card container mx-auto text-center p-4" style='border:none'>
  <h1> Oops! Page not found </h1>
  <%= image_tag "error.png", class:"mx-auto col-12", style:"width:50%;height:50%"%>
</div>