/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   margin: 0;
   padding: 0;
   background-color: #eee;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
 }

 .profile-img{
   border-radius: 50%;
   height: 200px;
   width: 200px;
 }

 .card{
   background-color: white;
   border-radius: 20px;
   border-left: 8px solid #017BFE;
 }

 .badge{
  font-size: 18px;
 }

 input{
   margin-bottom: 20px;
 }

 a.nav_link{
  transition: opacity 0.5s ease;
 }

 a.nav_link:hover{
  opacity: 0.5;
 }
 
 .home{
   background-color: white;
   border-radius: 20px;
   min-height:80vh;
   padding:20px;
 }

 .main-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .profile-card{
   min-width:30vw;
   min-height:30vh;
   background-color: white;
 }

 h1,.btn,nav,.font{
   font-weight: 800;
   font-family: 'Montserrat', sans-serif;
 }

 nav{
  font-weight: 600;   
 }

 .search-exam-img{
  width: 100%;
  height: 100%; 
 }

 .datetime select:nth-child(1) {
  width: 130px;
  text-indent: 15px;
}

.icon img{
  width: 25px;
  height: 25px;
  display: inline-block;
}

.icon{
  border-radius: 10px;
}

.exam-container{
  position: relative;
  display: flex;
  place-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.result-img{
  display: inline-block;
  max-height: 200px;
  object-fit: contain;
}
.exam-card{
  width:200px;
}
.datetime select {
  padding:10px;
  margin:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
/* .publish a{
  position: fixed;
  z-index: 50;
  background-color: rgba(0,0,0,0.5);
  right:10%;
  border: none;
  top:10%;
} */
#text-area-disabled{
  background-color: white;
}

 @media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .home {
  background-color: #eee;
  border-radius: 0px;
  margin: 20px auto;
  padding:1px;
  }
  .content{
    margin: 20px;
  }
  .profile-card{
    min-width:10vw;
    min-height:10vh;
    background-color: white;
  }
  .datetime select {
    padding:5px;
    margin:8px auto;
  }

  .exam-container{
    display: flex;
    place-items: center;
    flex-wrap:wrap;
    gap: 1rem;
  }
}